.nav-color {
    background-color: #7500376d;
}

.nav-logo {
    font-family: 'Grand Hotel', cursive;
    display: flex;
    font-size: 2rem;
    font-style: italic;
    color: #fa1593;
    justify-content: center;
    align-items: center;
    min-height: 1vh;
    padding: 0.5rem 0.5rem 0.5rem;    
    }
    